<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-12 col-md-5 offset-md-1">
      Hello There
    </div>
    <div class="col-12 col-md-5">
      General Kenobi
    </div>
  </div> -->
  <div class="row my-5">
    <div class="col-12 text-center">
      <button (click)="this.showPics()">Click Me!</button>
    </div>
  </div>
  <div class="row my-5" *ngIf="this.showPicsFlag">
    <div class="col-12 col-md-5 offset-md-1">
      <img
        src="../assets/hello-there.jpg"
        width="100%"
        alt=""
        class="animated fadeInLeft"
      />
    </div>
    <div class="col-12 col-md-5">
      <img
        src="../assets/general-kenobi.jpg"
        width="100%"
        alt=""
        class="animated fadeInRight delay-1s"
      />
    </div>
  </div>
  <div class="row my-5" *ngIf="this.showPicsFlag">
    <div class="col-12 col-md-8 offset-md-2 animated fadeInUp delay-2s">
      <div class="iframeContainer">
        <iframe
          class="responsive-iframe"
          src="https://www.youtube.com/embed/frszEJb0aOo"
          frameborder="0"
          allow="autoplay;"
        ></iframe>
      </div>
    </div>
  </div>
</div>
